<div class="container">
  <h1>{{title}}</h1>
  <h2>All Solar Panels</h2>

  <form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Monitor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solarPanel of solarPanels">
          <td>{{solarPanel.id}}</td>
          <td>{{solarPanel.name}}</td>
          <td><input type="radio" name="monitor" (click)="showMonitoringData(solarPanel)" />
        </tr>
      </tbody>
    </table>
  </form>

  <solar-panel-creation-form></solar-panel-creation-form>

  <monitoring-data [solarPanel]="selectedSolarPanel">
  </monitoring-data>
</div>
