<div *ngIf="solarPanel">
  <h2>Monitoring Data</h2>
  <form class="form" #daysForm="ngForm">
    <div class="form-group">
      <input placeholder="days" class="form-control" name="days" required
          [(ngModel)]="days" (ngModelChange)="showMonitoringData(solarPanel)"
          #fdays="ngModel">
      <div [hidden]="fdays.valid" class="alert alert-danger">
        Amount of days is required
      </div>
    </div>
  </form>
  <base-chart class="chart"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColours"
      [legend]="lineChartLegend"
      [chartType]="lineChartType">
  </base-chart>
</div>
